h1{
	font-size:30px;
	color:#000;
	position:absolute;
	right:0;
	left:0;
	margin:0 auto;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-image:url("11æœˆ.png");
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}






h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#ffd700), to(#ffa500));
  background-image: -webkit-linear-gradient(right, #ffd700 0%, #ffa500 100%);
  background-image: linear-gradient(to left, #ffd700 0%, #ffa500 100%);
}
