h1{
	font-size:30px;
	color:#ffffff;
	position:center;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-image:url("12æœˆ.png");
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}






h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#f0ffff), to(#0000ff));
  background-image: -webkit-linear-gradient(right, #f0ffff 0%, #0000ff 100%);
  background-image: linear-gradient(to left, #f0ffff 0%, #0000ff 100%);
}
