h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-image:url("3æœˆ.png");
	max-width:100%;
	height:auto;
	background-repeat:repeat;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(315deg,#ff69b4 0%, #ffb6c1 29%, #ffc0cb 67%, #f0f8ff 100%);
  background-image: linear-gradient(-225deg, #ff69b4 0%, #ffb6c1 29%, #ffc0cb 67%, #f0f8ff 100%);
  max-width:100%;
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#ffc0cb), to(#ff69b4));
  background-image: -webkit-linear-gradient(right, #ffc0cb 0%, #ff69b4 100%);
  background-image: linear-gradient(to left, #ffc0cb 0%, #ff69b4 100%);
}
