h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}

p{
	font-size:18px;
	color:#000000;
}



body{
	background-image:url("8æœˆ.png");
	max-width:75%;
	height:auto;
	background-repeat:repeat;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(315deg,#00bfff 0%, #87cefa 29%, #dbffff 67%, #f0ffff 100%);
  background-image: linear-gradient(-225deg, #00bfff 0%, #87cefa 29%, #dbffff 67%, #f0ffff 100%);
  max-width:100%;
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}



h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#e0ffff), to(#009efd));
  background-image: -webkit-linear-gradient(right, #e0ffff 0%, #009efd 100%);
  background-image: linear-gradient(to left, #e0ffff 0%, #009efd 100%);
  max-width:100%;
}



h5 {
  position: relative;
  padding: 1rem .5rem;
}

h5:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#e0ffff), to(#009efd));
  background-image: -webkit-linear-gradient(right, #e0ffff 0%, #009efd 100%);
  background-image: linear-gradient(to left, #e0ffff 0%, #009efd 100%);
  max-width:100%;
}


h12 {
  position: relative;
  padding: 1rem .5rem;
}

h12:after {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width:100%;
  height: auto;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#e0ffff), to(#009efd));
  background-image: -webkit-linear-gradient(right, #e0ffff 0%, #009efd 100%);
  background-image: linear-gradient(to left, #e0ffff 0%, #009efd 100%);
}
