h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-image:url("yuugure04.png");
	background-size:cover;
}


.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(315deg, #00e3ae 0%, #00fa9a 29%, #98fb98 67%, #ddffbc 100%);
  background-image: linear-gradient(-225deg, #00e3ae 0%, #00fa9a 29%, #98fb98 67%, #ddffbc 100%);
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}



h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#98fb98), to(#00fa9a));
  background-image: -webkit-linear-gradient(right, #98fb98 0%, #00fa9a 100%);
  background-image: linear-gradient(to left, #98fb98 0%, #00fa9a 100%);
}
