h1{
	font-size:30px;
	color:#000;
	position:relative;
}


p{
	font-size:18px;
	color:#000000;
}


body {
	background-image:url("tegakigara220.png");
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}


.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}















