h1{
	font-size:30px;
	color:#000;
	text-align:center;
}


p{
	font-size:18px;
	color:#000000;
}


body {
	background-image:url("905564.jpg");
	max-width:100%;
	height:auto;
	background-size:cover;
}


.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}












*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 2rem;
  font-weight: 1000;
  line-height: 2;
	
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 1rem;
}

a.btn-gradient {
  font-weight: normal;
  color: #fff;
  border-radius: 1rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
}

a.btn-gradient:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);

  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
}

a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}










.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }











.box {
border: #000 0.5px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}
.box p {
margin:0;
padding:0;
}
