h1{
	font-size:30px;
	color:#000;
	text-align:center;
	width:100%;
}


p{
	font-size:20px;
	color:#000000;
	text-align:center;
}



body {
	width:100%;
	height:100vh;
	background:linear-gradient(45deg,#e0ffff,#fff0f5,#d6e9ca);
	background-size:200% 200%;
	animation:bggradient 15s ease infinite;
}

@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}

	50%{
		background-position:100% 50%;
	}

	100%{
		background-position:0% 50%;
	}
}






.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}









<!-- リストについて -->
ul {
  padding: 0;
}

ul li, ol li {
  color: #000;
  border-left: solid 8px #0067c0;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}







<!-- 画面の大きさごとに表示内容を分けたい-->
@media only screen and (max-width:1080px){
}








@media only screen and (max-width:600px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}

#parent {
    display: flex;
  }
  #child1 {
    flex-grow: 0.3;
  }
  #child2 {
    flex-grow: 0.7;
　　text-align:center;
  }





.box {
border: #000 1px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}

.box p1 {
margin:0;
padding:0;
text-align:center;
}
.box p2{
margin:0;
padding:0;
text-align:center;
}
.box p3{
margin:0;
padding:0;
text-align:center;
}
