h1{
	font-size:30px;
	color:#000;
	text-align:center;
}


p{
	font-size:18px;
	color:#000000;
}


body.for-pc {
	background-image:url("43451.jpg");
	max-width:100%;
	height:auto;
	background-size:cover;
}



.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}











.box {
border: #000 2px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}
.box p {
margin:0;
padding:0;
}
