h1{
	font-size:30px;
	color:#000;
	position:relative;
}

h2{
	font-size:25px;
	color:#000000;
	position:absolute;
	top:0%;
	left:50%;
	transform:translateX(-50%);
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-color:#eaffea;
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}




h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00ff7f), to(#d8ffb2));
  background-image: -webkit-linear-gradient(left, #00ff7f 0%, #d8ffb2 100%);
  background-image: linear-gradient(to right, #00ff7f 0%, #d8ffb2 100%);
}


  




h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#ffc0cb), to(#ff69b4));
  background-image: -webkit-linear-gradient(right, #ffc0cb 0%, #ff69b4 100%);
  background-image: linear-gradient(to left, #ffc0cb 0%, #ff69b4 100%);
}




.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.parent div{
	height:300px;
}

.div1 { 
	grid-area: 1 / 1 / 2 / 2;
	background-color:#f5fffa;
}

.div2 { 
	grid-area: 1 / 2 / 2 / 3;
	background-color:#f5fffa;
}

.div3 { 
	grid-area: 1 / 3 / 2 / 4;
	background-color:#f5fffa;
}

.div4 { 
	grid-area: 1 / 4 / 2 / 5;
	background-color:#f5fffa;
}

.div5 { 
	grid-area: 2 / 1 / 3 / 2;
	background-color:#f5fffa;
}

.div6 { 
	grid-area: 2 / 2 / 3 / 3;
	background-color:#f5fffa;
}

.div7 {
	grid-area: 2 / 3 / 3 / 4;
	background-color:#f5fffa;
}

.div8 {
	grid-area: 2 / 4 / 3 / 5;
	background-color:#f5fffa;
}
