h1{
	font-size:30px;
	color:#000;
	text-align:center;
}


p{
	font-size:18px;
	color:#000000;
}


body.for-pc {
	background-image:url("905564.jpg");
	max-width:100%;
	height:auto;
	background-size:cover;
}

body.for-sp {
	background-image:url("無料の アート, 装飾, 背景背景画像、氷 パターン クリスタル デザイン 背景写真の背景PNGとベクトル.jpg");
	max-width:100%;
	height:auto;
	background-size:cover;
}


.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}












.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
border:#000 2px solid;
border-radius:5px;
font-size:50px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }











.box {
border: #000 2px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}
.box p {
margin:0;
padding:0;
}













@media (min-width: 800px) {
  #parent {
    display: flex;
  }
  #child1 {
    flex-grow: 0.30;
　　background-color:#000;
  }
  #child2 {
    flex-grow: 0.70;
　　 background-color:#fff;
  }
}







.at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  border: 2px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  min-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  min-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
  min-width: 14.2857142857%;
  flex-basis: 14.2857142857%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.1111111111%;
  max-width: 11.1111111111%;
  min-width: 11.1111111111%;
  flex-basis: 11.1111111111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.at-user {
　display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
　display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 0%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
  color: #6F808A;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}
