h1{
	font-size:30px;
	color:#000;
	position:relative;
}

h2{
	font-size:25px;
	color:#000000;
	position:absolute;
	top:0%;
	left:50%;
	transform:translateX(-50%);
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-color:#fff;
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}


.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}



.resizeimage img{
	height:auto; 
	max-width: 100%;
	position:center;
}



h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#32cd32), to(#d8ffb2));
  background-image: -webkit-linear-gradient(left, #32cd32 0%, #d8ffb2 100%);
  background-image: linear-gradient(to right, #32cd32 0%, #d8ffb2 100%);
}


  
h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#d8ffb2), to(#32cd32));
  background-image: -webkit-linear-gradient(right, #d8ffb2 0%, #32cd32 100%);
  background-image: linear-gradient(to left, #d8ffb2 0%, #32cd32 100%);
}
