h1{
	font-size:30px;
	color:#000;
	position:relative;
}

h2{
	font-size:25px;
	color:#000000;
	position:center;
}


p{
	font-size:18px;
	color:#000000;
}


body{
	background-color:#fff;
	max-width:100%;
	height:auto;
	background-size:cover;
	background-repeat:repeat;
}


.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}




h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#008000), to(#98fb98));
  background-image: -webkit-linear-gradient(left, #008000 0%, #98fb98 100%);
  background-image: linear-gradient(to right, #008000 0%, #98fb98 100%);
}


  
h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#d8ffb2), to(#32cd32));
  background-image: -webkit-linear-gradient(right, #d8ffb2 0%, #32cd32 100%);
  background-image: linear-gradient(to left, #d8ffb2 0%, #32cd32 100%);
}






<--! トピックとボタンを左右に分ける用-->
#child1 {
      background-color: white;
    }
    #child2 {
      background-color: white;
    }

    @media (min-width: 600px) {
      #parent {
        display: flex;
      }
      #child1 {
        flex-grow: 1;
      }
      #child2 {
        flex-grow: 1;
      }
    }







<--! トピックを並べる用-->
.news-list{
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.news-list .item a{
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
}
.news-list .item:first-child a{
  border-top: 1px solid #CCC;
}
.news-list .item .date{
  margin: 0;
  min-width: 120px;
  font-size: 16px;
  color: #000;
  padding: 0 20px 0 0;
}
.news-list .item .title{
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 767px){
.news-list .item a{
  flex-wrap: wrap;
}
.news-list .item .date{
  min-width: 100px;
}
.news-list .item .title{
  margin-top: 10px;
}
}

/* 装飾 */
 
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  margin: 20px;
}







<--! 画面右のボタン群の設定とか-->
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: 1000px;
  box-sizing: 1000px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-gradient {
　margin-bottom：20px;
  font-weight: normal;
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
}

a.btn-gradient:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);

  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
}

a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}
