h1{
	font-size:30px;
	color:#000;
	text-align:center;
	width:90%;
	padding:0.5rem;
}


p{
	font-size:25px;
	color:#000000;
	text-align:center;
}



@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}

	50%{
		background-position:100% 50%;
	}

	100%{
		background-position:0% 50%;
	}
}






.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}


header{
	position:relative;
	height:50vh;
}









<!-- リストについて -->
nav ul li {
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
}
nav {
    border-top: 2px solid #16a765;
    border-bottom: 1px solid #ccc;
}
nav ul li a:hover {
    color: #fff;
    background-color: #16a765;
    border-bottom: 1px solid #16a765;
}
nav ul li a {
    display: flex;
    padding: 15px;
    border-left: 1px dotted #D6D6D6;
}
nav ul li:last-child {
    border-right: 1px dotted #D6D6D6;
}
nav ul .active a {
    color: #fff;
    background-color: #16a765;
    border-bottom: 1px solid #16a765;
}


header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.company-info {
    float: left;
    width: 70%;
}
.contact-info {
    float: left;
    width: 30%;
    text-align: right;
}
header p span {
    font-size: 20px;
    font-weight: bold;
}
header {
    height: 100px;
    margin-top: 8px;
}
header p {
    font-size: 12px;
}
.description {
    margin-bottom: 10px;
}












<!-- 画面の大きさごとに表示内容を分けたい-->
@media only screen and (max-width:1080px){
}








@media only screen and (max-width:600px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}





.box {
border: #000 1px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}

.box p1 {
margin:0;
padding:0;
text-align:center;
}
.box p2{
margin:0;
padding:0;
text-align:center;
}
.box p3{
margin:0;
padding:0;
text-align:center;
}
