h1{
	font-size:30px;
	color:#000;
	text-align:center;
	width:50%;
}


p{
	font-size:18px;
	color:#000000;
	text-align:center;
}



body {
	width:100%;
	height:100vh;
	background:linear-gradient(45deg,#e0ffff,#fff0f5,#d6e9ca);
	background-size:200% 200%;
	animation:bggradient 15s ease infinite;
}

@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}

	50%{
		background-position:100% 50%;
	}

	100%{
		background-position:0% 50%;
	}
}






.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}











.box {
border: #000 2px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:50%;
text-align:center;
}
.box p {
margin:0;
padding:10;
}
