h1{
	font-size:30px;
	color:#000;
	text-align:center;
	width:90%;
	padding:0.5rem;
}


p{
	font-size:25px;
	color:#000000;
	text-align:center;
}



body {
	width:100%;
	height:100vh;
	background:linear-gradient(45deg,#e0ffff,#fff0f5,#d6e9ca);
	background-size:200% 200%;
	animation:bggradient 15s ease infinite;
}

@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}

	50%{
		background-position:100% 50%;
	}

	100%{
		background-position:0% 50%;
	}
}






.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}








h1 {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#316745), to(#e3efd1));
  background-image: -webkit-linear-gradient(left, #316745 0%, #e3efd1 100%);
  background-image: linear-gradient(to right, #316745 0%, #e3efd1 100%);
}









<!-- リストについて -->
nav ul li {
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
}

<nav>
    <ul class="clearfix">
        <li><a href="https://kaisoubutsu.github.io/seaweed/%E5%8B%95%E7%94%BB%E9%81%94/%E5%8B%95%E7%94%BB%E9%81%94.html">海藻物視点の動画</a></li>
		<li><a href="https://kaisoubutsu.github.io/seaweed/%E3%82%B5%E3%83%A0%E3%83%8D/%E3%82%B5%E3%83%A0%E3%83%8D%E3%81%A8%E3%81%8B.html">サムネ画像とか</a></li>
        <li><a href="https://kaisoubutsu.github.io/seaweed/TRPG%E3%83%BB%E3%83%9E%E3%83%80%E3%83%9F%E3%82%B9/TRPG%E3%83%BB%E3%83%9E%E3%83%80%E3%83%9F%E3%82%B9">TRPG・マダミス</a></li>
        <li><a href="https://kaisoubutsu.github.io/seaweed/%E3%81%AA%E3%82%93%E3%81%8B%E8%89%B2%E3%80%85/%E3%81%AA%E3%82%93%E3%81%8B%E8%89%B2%E3%80%85.html">なんか色々</a></li>
		<li><a href="">いつか何かするかも？</a></li>
    </ul>
</nav>

nav {
    border-top: 2px solid #16a765;
    border-bottom: 1px solid #ccc;
}

nav ul li a:hover {
    color: #fff;
    background-color: #16a765;
}

nav ul li a {
    display: block;
}






<!-- 画面の大きさごとに表示内容を分けたい-->
@media only screen and (max-width:1080px){
}








@media only screen and (max-width:600px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}





.box {
border: #000 1px solid; /*境界線の指定*/
border-radius:5px;
padding:5px;
width:100%;
position:relative;
}

.box p1 {
margin:0;
padding:0;
text-align:center;
}
.box p2{
margin:0;
padding:0;
text-align:center;
}
.box p3{
margin:0;
padding:0;
text-align:center;
}
