h1{
	font-size:30px;
	color:#000;
	text-align:center;
	background-image:url("");
}


p{
	font-size:25px;
	color:#000000;
	text-align:center;
}

span{
	color:#fff;
}


body{
	background-color:#fff;
	background-size:cover;
}






@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}

	50%{
		background-position:100% 50%;
	}

	100%{
		background-position:0% 50%;
	}
}






.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}






<!-- 画面の大きさごとに表示内容を分けたい-->
@media only screen and (max-width:1080px){
}


@media only screen and (max-width:600px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}










h1 {
  position: relative;
  padding: 1rem .5rem;
}

h1:before,
h1:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-gradient(linear, right top, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(right, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}

h1:before {
  top: 0;
}

h1:after {
  bottom: 0;
}













.at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  border: 2px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  min-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  min-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
  min-width: 14.2857142857%;
  flex-basis: 14.2857142857%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.1111111111%;
  max-width: 11.1111111111%;
  min-width: 11.1111111111%;
  flex-basis: 11.1111111111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 300px;
  height: 300px;
  border-radius: 0%;
  margin: 0 auto 5px;
  overflow: hidden;
}
.at-user__avatar img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
　position:center;
}
.at-user__name {
　display: inline-block;
  color: #313435;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
　display: inline-block;
  color: #6F808A;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}
