h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3,h4,h5,h6{
	font-size:20px;
	color;#000000;
}

h7,h8,h9{
	font-size:20px;
	color:#000000;
	font-weight:bold;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}


body{
	background-image:url("そこは微睡む甘い国.png");
	background-size:cover;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(315deg, #e5c1cd 0%, #0000ff 29%, #00bfff 67%, #7f1184 100%);
  background-image: linear-gradient(-225deg, #841a75 0%, #af0082 29%, #de82a7 67%, #e0ffff 100%);
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#e5c1cd), to(#7f1184));
  background-image: -webkit-linear-gradient(right, #e5c1cd 0%, #7f1184 100%);
  background-image: linear-gradient(to left, #e5c1cd 0%, #7f1184 100%);
}
