h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:20px;
	color:#000000
}

h3{
	font-size:20px;
	color;#000000;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}


body{
	background-image:url("simple17_white_skyblue4.jpg");
	background-size:cover;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  background: linear-gradient(to right top, rgba(156, 39, 176, .8), rgba(194, 31, 160, .8), rgba(222, 38, 143, .8), rgba(242, 58, 126, .8), rgba(255, 83, 111, .8)), url("1æœˆ.png") center/cover no-repeat fixed;
  font-size: 24px;
  line-height: 34px;
  padding: 27px 24px;
  background-image: -webkit-linear-gradient(315deg, #000080 0%, #0000ff 29%, #00bfff 67%, #e0ffff 100%);
  background-image: linear-gradient(-225deg, #000080 0%, #0000ff 29%, #00bfff 67%, #e0ffff 100%);
  max-width:100%;
  height:auto;
}


h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#e0ffff), to(#000080));
  background-image: -webkit-linear-gradient(right, #e0ffff 0%, #000080 100%);
  background-image: linear-gradient(to left, #e0ffff 0%, #000080 100%);
}




/*====================================================================
.s_08 .accordion_one
====================================================================*/

.s_08 .accordion_area {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.s_08 .accordion_area .accordion_one._flex {
  width: 33.333%;
}
.s_08 .accordion_one .accordion_header {
  background-color: #db0f2f;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 11% 20px 7%;
  text-align: left;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
}
.s_08 .accordion_one .accordion_header_one {
  background-color: #db0f2f;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 7%;
  text-align: left;
  position: relative;
  z-index: +1;
  cursor: pointer;
}
.s_08 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header_one {
  background-color: #f52d4c;
}
.s_08 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #ff9a05;
}
.s_08 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header_one {
  background-color: #ffb64a;
}
.s_08 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #1c85d8;
}
.s_08 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header_one {
  background-color: #4cacf9;
}
.s_08 .accordion_one .accordion_header:hover {
  opacity: .8;
}
.s_08 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.s_08 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.s_08 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.s_08 .accordion_one .accordion_header .i_box .one_i:before, .s_08 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_08 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_08 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_08 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.s_08 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  box-sizing: border-box;
}
.s_08 .accordion_one .accordion_inner .box_one {
  height: 300px;
}
.s_08 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .s_08 .accordion_one .accordion_header {
    font-size: 18px;
  }
  .s_08 .accordion_one .accordion_header_one {
    font-size: 18px;
  }
  .s_08 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
@media screen and (max-width: 767px) {
  .s_08 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
  .s_08 .accordion_one .accordion_header_one {
    font-size: 16px;
  }
}
