h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:23px;
	color:#000000
}

h3{
	font-size:20px;
	color;#000000;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}


body{
	background-image:url("simple17_white_skyblue4.jpg");
	background-size:cover;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(315deg, #000080 0%, #0000ff 29%, #00bfff 67%, #e0ffff 100%);
  background-image: linear-gradient(-225deg, #000080 0%, #0000ff 29%, #00bfff 67%, #e0ffff 100%);
  max-width:100%;
  height:auto;
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top,from(#e0ffff), to(#000080));
  background-image: -webkit-linear-gradient(right, #e0ffff 0%, #000080 100%);
  background-image: linear-gradient(to left, #e0ffff 0%, #000080 100%);
}





.menu {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin:0;
}

.menu > li {
    float: left;
    width: 20%;
    height: auto;
    line-height: auto;
    background: rgb(29, 33, 19);
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: #072A24;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}


.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}
