h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}
	

.body{
	background-image:url("少女への願い.png");
	background-size:cover;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  max-width:100%;
  background-image: -webkit-linear-gradient(315deg, #800000 0%, #cc0033 29%, #800080 67%, #191970 100%);
  background-image: linear-gradient(-225deg, #800000 0%, #cc0033 29%, #800080 67%, #191970 100%);
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#800080), to(#cc0033));
  background-image: -webkit-linear-gradient(right, #800080 0%, #cc0033 100%);
  background-image: linear-gradient(to left, #800080 0%, #cc0033 100%);
}
