h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000;
}

h3{
	font-size:20px;
	color:#000000;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}


body{
	background-image:url("救済の代償.png");
	background-size:cover;
}



h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  max-width:100%;
  background-image: -webkit-linear-gradient(315deg, #000080 0%, #0000ff 29%, #00bfff 67%, #e0ffff 100%);
  background-image: linear-gradient(-225deg, #990000 0%, #cc0000 29%, #ff0000 67%, #ff9999 100%);
}

h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff0000), to(#990000));
  background-image: -webkit-linear-gradient(right, #ff0000 0%, #990000 100%);
  background-image: linear-gradient(to left, #ff0000 0%, #990000 100%);
}
