p{
	font-size:20px;
	color:#000000;
}



.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}




.box {
border: #000 10px solid; /*境界線の指定*/
border-radius:10px;
padding:20px;
width:100%;
position:relative;
}
.box p {
margin:0;
padding:0;
text-align:center;
}
