p{
	font-size:18px;
	color:#000000;
}



.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}






.target-element {
  /* linear-gradient で白(0.5 = 50%の透明度)を重ねる */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('sakurahubuki15.png');
  
  background-size: cover;
  background-position: center;
}
