p{
	font-size:15px;
	color:#000000;
}



.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}





.grid-container {
  display: grid;
  /* 横に2つ、等幅で並べる設定 */
  grid-template-columns: repeat(2, 1fr);
  /* グリッド同士の隙間（適宜調整） */
  gap: 15px;
}
