h1{
	font-size:30px;
	color:#000;
	text-align:center;
}

p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}

img src{
	size:10%;
}


.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}






.box {
border: #000 3px solid; /*境界線の指定*/
border-radius:5px;
padding:100px;
width:80%;
position:right;
}
.box p {
margin:0;
padding:0;
img src:10%;
}





 
  
