p{
	font-size:30px;
	color:#000000;
}



.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}






.box {
border: #000 10px solid; /*境界線の指定*/
border-radius:10px;
padding:20px;
width:80%;
position:right;
}
.box p {
margin:0;
padding:0;
}
