h1{
	font-size:30px;
	color:#ffffff;
}

h2{
	font-size:25px;
	color:#000000
}

h3{
	font-size:20px;
	color;#000000;
}


p{
	font-size:18px;
	color:#000000;
}


.p1{
	line-height:15px;
}

span{
	color:#fff;
}


body{
	background-image:url("そこは微睡む甘い国.png");
	background-size:cover;
}


.for-pc{display:block;}
.for-sp{display:none;}

@media only screen and (max-width:767px){
	.for-pc{display:none;}
	.for-sp{display:block;}
}


h1 {
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  max-width:100%;
  background-image: -webkit-linear-gradient(315deg, #e5c1cd 0%, #0000ff 29%, #00bfff 67%, #7f1184 100%);
  background-image: linear-gradient(-225deg, #841a75 0%, #af0082 29%, #de82a7 67%, #e0ffff 100%);
}



h1 span {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, .2);
}


h2 {
  position: relative;
  padding: 1rem .5rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#e5c1cd), to(#7f1184));
  background-image: -webkit-linear-gradient(right, #e5c1cd 0%, #7f1184 100%);
  background-image: linear-gradient(to left, #e5c1cd 0%, #7f1184 100%);
}





.menu {
    position: relative;
    width: 100%;
    height: 40px;
    max-width: 1200px;
    margin: 0%;
}

.menu > li {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background: rgb(29, 33, 19);
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: #072A24;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}



.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}






.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #1b2538;
	cursor: pointer;
}
.cp_menu label::before {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li,
#cp_menu_bar3:checked ~ #link3 li,
#cp_menu_bar4:checked ~ #link4 li,
#cp_menu_bar5:checked ~ #link5 li{
	max-height: 46px;
	opacity: 1;
}








.box {
background:#fff; /*背景色の指定*/
padding:10px;
}
.box p {
margin:0;
padding:0;
}
